*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
::selection{
    background-color: #610abe;
}
body{
    background-color:  rgb(15,23,42);
    height: 295vh;
    background-image: url(stars1.png);

}
.profile{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transform: translateY(5%);
    align-items: center;
    flex-basis: 200px;
    margin-bottom: 200px;
}
.profile img{
    height: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    border: solid 10px #610abe;
    box-shadow: 0 0 70px #5100ff;
    transition: .5s;
}
.profile img:hover{
    box-shadow: 0 0 150px #5100ff;
}
.name{
    font-size: 40px;
    color: #fff;
    padding: 3px;
    margin-top: 25px;
    letter-spacing: 2px;
    background-image: linear-gradient(to right bottom, #690adc,#0793da);
    border-radius: 8px;
    
    transition: .5s;
}
.name:hover{
    font-size: 50px;
}
.about-me{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.new-s{
    margin-top: 500px;
}
.pr{
    font-size: 25px;
    margin-top: 20px;
    width:90%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    transition: .5s;
    margin-top: 40px;
    margin-bottom: 20px;
}
.pr:hover{
    font-size: 30px;
}
span{
    color: #4094f5;
}
.skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px
}
.skill-box{
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #680adc4a,#0794da4f);
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;
}
.skill-box:hover{
    width: 320px;
    height: 320px;
    font-size: 27px;
    background-image: linear-gradient(to right bottom, #680adc80,#0794da81);

}
.skill-box p{
    position: relative;
    z-index: 2;
    
}
.skill-box i{
    font-size: 35px;
    margin-bottom: 20px;
}
#mobile:hover , #net:hover{
    font-size: 22px;
}
.my-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.my-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    gap: 30px;
}
.projects img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: .5s;
}
.projects img:hover{
    width: 320px;
    height: 320px;
}
.projects .dcp,.projects .dcp-soon{
    background-image: linear-gradient(to right bottom , #680adc80,#0794da81);
    border-radius: 8px;
    padding-bottom: 20px;
}
.projects .dcp-soon{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
}
.projects .dcp .dcp-name,.projects .dcp .dcp-name2,.projects .dcp-soon .dcp-name{
    width: 292px;
    color: #fff;
    margin-left: 8px;
}
.projects .dcp .dcp-name,.projects .dcp-soon .dcp-name{
    font-size: 30px;
    text-transform: uppercase;
}
.projects .dcp-soon .dcp-name{
    letter-spacing: 2px;
    font-weight: 600;
}
.projects .dcp .dcp-name2{
    font-size: 20px;
}

.work{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.work p{
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
}
.ic{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ic i{
    color: #fff;
    font-size: 35px;
    background-color: #494c4dcd;
    padding: 15px;
    border-radius: 8px;
    transition: .5s;
}
.ic i:hover{
    font-size: 40px;
}
#tiktok{
    font-size: 45px;
}
#tiktok:hover{
    font-size: 50px;
}
@media (min-width:768px) {
    .projects img{
    width: 410px;
    height: 410px;
}
.projects img:hover{
    width: 430px;
    height: 430px;
}
.projects .dcp .dcp-name,.projects .dcp .dcp-name2{
    width: 400px;
    color: #fff;
}
.projects .dcp .dcp-name{
    font-size: 40px;
    text-transform: uppercase;
}
.projects .dcp .dcp-name2{
    font-size: 25px;
}
.ic i{
    color: #fff;
    font-size: 55px;
    background-color: #494c4dcd;
    padding: 15px;
    border-radius: 8px;
    transition: .5s;
}
.ic i:hover{
    font-size: 60px;
}
#tiktok{
    font-size: 65px;
}
#tiktok:hover{
    font-size: 70px;
}
}